---
# tasks file for install_tools

- name: Update dnf cache
  become: true
  ansible.builtin.dnf:
    update_cache: true
  changed_when: false
  tags:
    - install_tools

- name: Check if Ansible is installed
  ansible.builtin.command: command -v ansible
  register: ansible_check
  changed_when: false
  ignore_errors: true
  tags:
    - install_tools

- name: Install Ansible
  become: true
  ansible.builtin.dnf:
    name: "{{ ansible_package }}"
    state: present
  when: ansible_check.rc != 0
  tags:
    - install_tools

- name: Check if Docker is installed
  ansible.builtin.command: command -v docker
  register: docker_check
  changed_when: false
  ignore_errors: true
  tags:
    - install_tools

- name: Download Docker installation script
  ansible.builtin.get_url:
    url: "{{ docker_repo_url }}"
    dest: "{{ docker_script_dest }}"
    mode: '0755'
  when: docker_check.rc != 0
  tags:
    - install_tools

- name: Install Docker
  become: true
  ansible.builtin.command: sh {{ docker_script_dest }}
  when: docker_check.rc != 0
  tags:
    - install_tools

- name: Ensure Docker service is started and enabled
  become: true
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true
  tags:
    - install_tools

- name: Add ansible_user to the docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true
  tags:
    - install_tools

- name: Reset SSH connection to apply group changes
  ansible.builtin.meta: reset_connection
  tags:
    - install_tools
